*{
    margin: 0;
    padding: 0;
}

.viewport{
    background-color: rgb(37, 20, 220);
    width: 100vw;
    height: 33.333333333vh;
}

.viewport:nth-child(2){
    background-color: palevioletred;
}

.viewport:nth-child(3){
    background-color: purple;
}